.hourly {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.basic_w_info {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.weather_icon {
    width: 50px;
    height: 50px;
}
