.search_fallback_sec {
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.s_icon {
    width: 50%;
}
.result_head {
    font-size: 30px;
}

@media only screen and (min-width: 768px) {
    .s_icon {
        width: 20%;
    }   
}