.allow_loc {
    text-align: center;
    margin-top: 20vh;
}
.individual{
    margin: 5px 10px;
}
.svg_wraper {
    margin: 50px 0;
}
.loc_off_svg {
    width: 30%;
}

@media only screen and (min-width: 980px) {
    .loc_off_svg {
        width: 15vh;
    }
}